*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
#hero {
    background-image: url('./img/logolanding.jpg');
    display: table;
    position: relative;
    height: 40%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    display: table-cell;
    text-align: center;
    vertical-align: bottom; 
}

.hero-text h4 {
    font-size: 500%;

}

.nav {
    background-color: black;
    padding: 5px;
}

.nav-links {
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}

.nav-links a:hover {
    opacity: 0.5;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    padding: 0 2em;
    text-decoration: none;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
  }

.title h1 {
    color: white;
}

.overlap-container {
    height: auto;
    transform: translateY(-10%);
}

.off-black {
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: auto;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.image {
    padding-top: 5%;
}

.image img {
    display: block;
    margin: auto;
    width: 350px; 
    height: auto;
}

.font p {
    color: white;
    padding: 1em;
}

.font h4 {
    color: white;
    padding: 1em;

}

.audrpic img {
    padding: 3em;
    width: 100%;
    height: auto;
}

.padding {
    padding: 20px 0;
}

.fa {
    color: white;
    padding: 15px;
    font-size: 25px;
}

.fa:hover {
    color: rgb(189, 185, 185);
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: black;
    padding: 0.5em;
    color: white;
}


/*FONT RESIZE*/
@media (min-width: 380px) {
    .font p { font-size: 2em; }
    .font h4 { font-size: 5em;}
}
@media (min-width: 380px) {
    .font p { font-size: 2em; }
    .font h4 { font-size: 3em;}
}
@media (min-width: 576px) {
    .font p { font-size: 2em; }
    .font h4 { font-size: 8em;}
}
@media (min-width: 768px) {
    .font p { font-size: 2em; }
    .font h4 { font-size: 5em;}
}
@media (min-width: 992px) {
    .font p { font-size: 2em; }
    .font h4 { font-size: 6em;}
}
@media (min-width: 1200px) {
    .font p { font-size: 2em; }
    .font h4 { font-size: 8em;}
}